* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #3e3e3e;
  font-family: "Poppins", serif;
}

body {
  min-height: 100dvh;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.d-block {
  display: block;
}

.container {
  width: 80%;
  margin-inline: auto;
}
.wrapper {
  display: flex;
}
.weatherInfoContainer {
  background-color: #f4f4f4;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 26px;
  flex: 3;
}
.searchContainer {
  margin-block-end: 10px;
}

.searchInput {
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.39);
  outline: none;
  padding: 14px;
  border-radius: 20px;
  font-size: 20px;
}

.searchBtn {
  background: #1d1d1d;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 18px;
  padding: 10px;
  color: white;
  margin-inline-start: 10px;
}
.errorMessage {
  font-weight: 600;
  color: rgb(168, 14, 14);
}
.countryInfo {
  text-align: left;
}

.countryInfo h2 {
  margin-bottom: 10px;
}
.weatherInfo {
  position: relative;
}
.weatherInfo p {
  font-size: 120px;
  font-weight: 700;
}
.weatherInfo span {
  font-weight: 500;
  font-size: 22px;
}

.weatherInfo p::after,
.forecastCard .forecastTemp::after {
  content: "°";
  position: absolute;
  font-weight: 500;
  transform: translate(10%, -10%);
}
.additionalWeatherInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(70%, -45%);
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .additionalWeatherInfo {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
  }
  .additionalWeatherInfo ul li {
    width: fit-content;
    margin-inline: auto;
  }
  .wrapper {
    flex-direction: column;
  }
  .weatherInfoContainer {
    border-top-right-radius: 16px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .searchContainer {
    margin-block-start: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchContainer input {
    width: 100%;
  }
}
.additionalWeatherInfo ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.forecastContainer {
  margin-block: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.forecastCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 12px;
  padding: 10px;
}

.forecastCard .forecastTime {
  color: black;
  font-weight: 600;
}

.weatherAppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.convertBtn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
}
.active {
  color: #3e3e3eb2;
}
.converBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  gap: 12px;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #3e3e3e;
  border-bottom: 4px solid #3e3e3e;
  border-right: 4px solid #3e3e3e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
